.hide
{
    display: none !important; 
}

.navbar-brand
{
    font-size: 2em;
}

.error
{
    border: 2px solid #ff3860;
}

.codeButton
{
    margin: 5px;
}

#attackResult
{
    font-size: 2.5em;
}

#keyFound
{
    font-size: 3em;
}

#displaySequences
{
    word-wrap: break-word;
    text-align: left;
}

i 
{
    font-style: normal;
}

.seq1
{
    background-color: red;
}

.seq2
{
    background-color: purple;
}

.seq3
{
    background-color: blue;
}

.seq4
{
    background-color: green;
}

.seq5
{
    background-color: orange;
}

.seqx
{
    background-color: black;
}

table
{
    background-color: none;
}

/* #results, #results .title
{
    color: #363636;
} */