.hide {
  display: none !important;
}

.big-title {
  font-size: 56px;
}

.code-source {
  border-radius: 32px;
}

.presentation-text {
  max-width: 700px;
  text-align: center;
  margin: auto;
  font-size: 22px;
}

.navbar-brand {
  font-size: 2em;
}

.icon-button {
  margin-right: 10px;
}

.error {
  border: 2px solid #ff3860;
}

.text-black * {
  color: #000 !important;
}

#encodingButton,
#decodingButton {
  width: min-content;
}

.text-columns {
  display: flex;
  justify-content: center;
}
.text-column {
  margin: 5px;
}

.codeButton {
  margin: 5px;
}

.button-home {
  width: 320px;
}

.textarea {
  resize: none;
  border-radius: 32px;
  width: 400px;
}

#attackResult,
#attackResultIC {
  font-size: 2em;
}

#keyFound {
  font-size: 3em;
}

#displaySequences {
  word-wrap: break-word;
  text-align: left;
}

i {
  font-style: normal;
}

.seq1 {
  color: white;
  background-color: red;
}

.seq2 {
  color: white;
  background-color: blue;
}

.seq3 {
  color: white;
  background-color: purple;
}

.seq4 {
  color: white;
  background-color: orange;
}

.seq5 {
  color: white;
  background-color: green;
}

.seqx {
  color: white;
  background-color: black;
}

table {
  background-color: none;
}

.textarea {
  margin: 0;
}

/* #results, #results .title
{
    color: #363636;
} */
